include mixins/_mixins

doctype html
html
  head
    title Gulp Test
    link(rel="stylesheet" href="assets/css/test.css")
  body
    p This is some really weird stuff
    +testimonial("John Belushi Dude")
    footer
      p See ya!